#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define LAYOUT36( \
	K00, K01, K02, K03, K04,           K05, K06, K07, K08, K09, \
	K10, K11, K12, K13, K14,           K15, K16, K17, K18, K19, \
	K20, K21, K22, K23, K24,           K25, K26, K27, K28, K29, \
	/**/      K32, K33, K34,           K35, K36, K37 \
	) \
	K00  K01  K02  K03  K04  &none &none  K05  K06  K07  K08  K09 \
	K10  K11  K12  K13  K14  &none &none  K15  K16  K17  K18  K19 \
	K20  K21  K22  K23  K24  &none &none  K25  K26  K27  K28  K29 \
	          K32  K33  K34               K35  K36  K37

// Combo key positions, lower-right combos
#define CB1 31
#define CB2 32
#define CB3 33
#define CB4 34

// #define CB1 25
// #define CB2 26
// #define CB3 27
// #define CB4 28

/ {
  chosen {
     zmk,matrix_transform = &dual_2u_transform;
  };

  #include "../base36/layers.keymap"
};

// vim:ft=c:fdm=indent
// https://zmk.dev/docs/codes/
